".text.html.vue":
  "Vue Component":
    "prefix": "template"
    "body": """
      <template lang="${1:html}">
        $3
      </template>

      <script>
      export default {
        data: function () {
          return {
          }
        },
        computed: {},
        ready: function () {},
        attached: function () {},
        methods: {},
        components: {}
      }
      </script>

      <style lang="${2:css}">
      </style>

    """
