".text.html.vue":
  "Vue Component":
    "prefix": "template"
    "body": """
      <template lang="${1:html}">
        $3
      </template>

      <script>
      export default {
      components: {},
        data() {
          return {
          };
        },
        ready() {},
        attached() {},
        computed: {},
        methods: {},
      };
      </script>

      <style lang="${2:css}">
      </style>

    """
